body.popup {
	background-color: #F0F0F0;
	min-width: 100px;
	padding-bottom: 8px;
	margin: 5px;
	min-height: 10px;
	max-height: 600px;
	-webkit-border-radius: 4px;
	-webkit-user-select: none;
	width: 400px;
}
